* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype";
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    background-image: linear-gradient(to bottom, #7a251d 0%, #7a252d 50%, #7a253d 100%);
    width: 100vw;
    height: 100vh;
}

#title {
    margin: 2vh 0 0 4vw;
    font-size: 400%;
    color: darkgrey;
}
#line_title {
    background-color: black;
    width: 100vw;
    height: 1vh;
}

header {
    display: flex;
    flex-direction: line;
    background-image: linear-gradient(to bottom, #8c27c7 0%, #bd3a7c 50%, #b6291f 100%);
    padding-bottom: 3vh;
}

#div_perfil {
    position: relative;
    margin-top: 2vh;
    margin-bottom: 0,5vh;
    left: 66vw;
    height: 6vh;
    width: 6vw;
}
#button_perfil {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}

#div_point-point-point {
    position: absolute;
    top: 10vh;
    right: 2.6vw;
    height: 8vh;
    width: 8vw;
}
#button_point-point-point {
    border: none;
    background-color: transparent;
    padding: 1%;
    z-index: 5;
}
#button_point-point-point img {
    margin-top: 3vh;
    height: 90%;
    width: 90%;
    z-index: -2;
}

#div_central_texts {
    position: absolute;
    top: 35vh;
    left: 8vw;
}
#div_slogan > h1{
    color: darkgrey;
    font-size: 300%;
}
#div_button_slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.5% 0 0 0;
    border-radius: 35px;
    background-color: black;
    height: 11.5vh;
    width: 23vw;
}
#div_button_slogan > button {
    background-color: transparent;
    border: none;
}
#div_button_slogan > button > h1 {
    color: white;
    font-size: 270%;
}

#img_car {
    position: absolute;
    top: 21.5vh;
    right: 0;
    z-index: 1;
}
#img_car > img {
    width: 60vw;
}

#menu_links {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
  
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

#menu_links a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

#menu_links a:hover {
    background-color: #f0f0f0;
}

nav {
    background-color: #47346a;
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
}
nav a{
    color: #bd3a7c;
    margin-top: 2vh;
    margin-left: 15vw;
}