<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurumaya</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

    <!-- ===== HEADER ===== -->
    <header class="headerbar">
        <div class="header-content">
            <div id="title"><a href="/">Kurumaya</a></div>
                <div id="menu_nav">
                    <a href="/frota" class="menu-item">Frota</a>
                    <a href="/solucoes" class="menu-item">Soluções</a>
                    <a href="/contato" class="menu-item">Contato</a>
                    <a href="/faq" class="menu-item">FAQ</a>
                    <a href="{{ url_for('devolucao_cliente_page') }}" class="menu-item">Devolução</a>
                    <a href="{{ url_for('historico') }}" class="menu-item">Histórico de aluguéis</a>
                </div>

            <div id="div_perfil">
                <div id="div_botoes_header">
                    <a href="/login"><button id="button_perfil">Entrar</button></a>
                    <a href="/cadastro"><button id="button_criar">Criar conta</button></a>
                    <a href="/logout"><button id="button_sair">Sair</button></a>
                </div>
                <p class="texto-funcionario">
                    <a href="/funcionario/login">É funcionário? Logue aqui.</a>
                </p>
            </div>
        </div>
    </header><div id="line_title" class="animate-expand"></div>


    <div id="line_title" class="animate-expand"><h1></h1></div>

    <!-- ===== MAIN ===== -->
    <main>
        <section id="hero">
            <div id="div_central_texts" class="animate-slide-up">
                <div id="div_slogan">
                    <h1 class="text-line-1">Deseja alugar um carro,</h1>
                    <h1 class="text-line-2">com a certeza de que fez a escolha certa?</h1>
                </div>

                <div id="div_button_slogan" class="pulse-effect">
                    <button onclick="window.location.href='/frota'">
                        <span>Veja o melhor modelo</span>
                        <span>para você!</span>
                    </button>
                </div>
            </div>

            <div id="img_car" class="animate-slide-right-slow floating">
                <img src="https://www.fiat.com.br/content/dam/fiat/pulse-my26/assets-home/carrossel/pulse-impetus-hibrido.webp" alt="Carro Volkswagen Nivus">
            </div>
        </section>
    </main>

    <script src="/static/js/menu.js"></script>
    <script src="/static/js/auth_ui.js"></script>

</body>
</html>
