<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagamento</title>
    <link rel="stylesheet" href="/static/css/pgto.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body data-id="{{ vehicle.id }}">

    <header class="headerbar">
        <div class="header-content">
            <div id="title"><a href="/"><img src="../static/img/logo.png" alt="" id="logo"></a></div>
            <div id="menu_nav">
                <a href="/frota" class="menu-item">Frota</a>
                <a href="/solucoes" class="menu-item">Soluções</a>
                <a href="/contato" class="menu-item">Contato</a>
                <a href="/faq" class="menu-item">FAQ</a>
                <a href="{{ url_for('devolucao_cliente_page') }}" class="menu-item">Devolução</a>
                <a href="{{ url_for('historico') }}" class="menu-item">Histórico de aluguéis</a>
            </div>

            <div id="div_perfil">
                <div id="div_botoes_header">
                    <a href="/login"><button id="button_perfil">Entrar</button></a>
                    <a href="/signin"><button id="button_criar">Criar conta</button></a>
                    <a href="/logout"><button id="button_sair">Sair</button></a>
                </div>
                <p class="texto-funcionario">
                    <a href="/funcionario/login">É funcionário? Logue aqui.</a>
                </p>
            </div>
        </div>
    </header>
    <div id="line_title" class="animate-expand"></div>

    <h1>Confirmação de Aluguel</h1>

    <div id="info">
        <p><strong>Modelo:</strong> <span id="car-model"></span></p>
        <p><strong>Placa:</strong> <span id="car-plate"></span></p>
        <p><strong>Preço por dia:</strong> R$ <span id="car-price"></span></p>

        <label>Dias de aluguel:</label>
        <input type="number" id="dias" min="1" value="1">

        <p><strong>Total:</strong> R$ <span id="total">0</span></p>

        <button id="pagarBtn">Finalizar Pagamento</button>
    </div>

    <script src="/static/js/pagamento.js"></script>
</body>
</html>
