<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="./static/css/signin.css">
</head>
<body>
    <a href="javascript:history.back()" class="back-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19 12H5M12 19l-7-7 7-7"/>
        </svg>
    </a>

    <main>
        <div class="container">
            <h1>Sign-in</h1>
            <form action="" method="get">
                <div id="div_form2x2">
                    <div class="form_group">
                        <label for="fullname">Full Name</label>
                        <input type="text" id="fullname" name="fullname" required>
                    </div>

                    <div class="form_group">
                        <label for="cnh">CNH</label>
                        <input type="text" id="cnh" name="cnh" required>
                    </div>

                    <div class="form_group">
                        <label for="phone">Telefone</label>
                        <input type="tel" id="phone_signup" name="phone" placeholder="(00) 00000-0000" required>
                    </div>

                    <div class="form_group">
                        <label for="email">E-Mail</label>
                        <input type="email" id="email_signup" name="email" required>
                    </div>

                    <div class="form_group">
                        <label for="password">Password</label>
                        <input type="password" id="password_signup" name="password" required>
                    </div>

                    <div class="form_group">
                        <label for="birthday">Birthday</label>
                        <input type="date" name="birthday" id="birthday" required>
                    </div>
                </div>

                <button type="submit">Criar</button>
                <p>Já tem conta? <a href="/login">Entrar</a></p>
            </form>
        </div>
    </main>
    <script src="../static/js/auth.js"></script>
</body>
</html>
